# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/*

# dotenv environment variables
.env

# Build output
dist/
build/

# Optional npm cache directory
.npm

# IDE files
.vscode/
*.swp
.DS_Store
.idea/

# Operating system files
Thumbs.db
